services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: spam-api:lab11
    environment:
      MODEL_DIR: /models
      MODEL_FILENAME: random_forest.joblib
      LOG_LEVEL: info
      SIMULATED_LATENCY_SEC: ${SIMULATED_LATENCY_SEC:-0}
    volumes:
      - ./model_store:/models:ro
    ports:
      - "8080:8080"

  prometheus:
    image: prom/prometheus:v2.54.1
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus_rules.yml:/etc/prometheus/prometheus_rules.yml:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    depends_on:
      - api

  grafana:
    image: grafana/grafana:11.2.0
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

volumes:
  prometheus_data:
  grafana_data:
